<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ethics Code Collection</title>
    <link rel="shortcut icon" href="images/iiticon.png"/>
      <meta charset="utf-8">
      <!--Mobile specific-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
      <!--<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="ecc.css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection"/>
        <link type="text/css" rel="stylesheet" href="css/style.css" media="screen,projection"/>
    
    <!--Let browser know website is optimized for mobile-->
  </head>

  <body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <div class ="container">  
      <!-- Main Banner -->
      <div class="banner">
        <h1>THE ECC</h1>
        <p>THE WORLD'S LARGEST DATABASE OF ETHICS CODES</p>
      </div>
      <form action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <p>
        <input type="text" class="searchbar" name="q" id="q" value="" />
        <input class="btn" type="submit" value="Search" data-disable-with="Search" />
      </p>
    </form>
      
     <!--start page content-->
<h2> Collecting Policy </h2>
<p>The Codes of Ethics Collection of the Center for the Study of Ethics in the Professions collects codes of ethics, codes of conduct, and ethical guidelines from the following entities.</p>
  <ul class="collection">
      <li class="collection-item">Academic organizations </li>
      <li class="collection-item">Businesses </li>
      <li class="collection-item">Industry associations </li>
      <li class="collection-item">Fraternal organizations </li>
      <li class="collection-item">Government organizations  </li>
      <li class="collection-item">Non-profit organizations  </li>
      <li class="collection-item">Professional associations</li>  
    </ul>
<p>Documents and guidelines included in the collection must be written by an established professional association, fraternal club, business, etc., and be the official policy of that organization. In some circumstances, we will include model codes of ethics that have been developed through a research project or workshop. However, a footnote will be attached to these codes clearly explaining how they were developed, and who is responsible for the codes’ content.</p>
<p>For example, in 2010 we received permission to include the <a href="http://ethics.iit.edu/ecodes/node/4391"> Code of Ethics for Robotic Engineers </a>in our collection, a code that was developed by a team of undergraduate students from Wooster Polytechnic Institute’s Electrical and Computer Engineering and Robotics Engineering Department.</p>
<p> If you know of a code that we should have in our collection or have any questions, please <a href="http://ethics.iit.edu/ecodes/contact"> contact us</a> with your comments and suggestions.</p> 

<h4>Copyright Policy</h4>
<p>In 1998, when we began posting codes of ethics online, we decided that instead of only providing links to codes of ethics, we would attempt to post the full text of codes on our site. As some scholars are interested in studying the development of codes over time, this approach has proven to be extremely valuable. We now have a number of codes of ethics that are unavailable anywhere else on the Internet.</p>
<p>To make sure we comply with the wishes of the authors of these codes, we always ask permission to reprint each code before it is posted in this collection. A copy of the letter or email requesting copyright permission to repost a code of ethics is shown below.</p>

<div class="letter">
<p>Dear Colleague, 
<br><br>We are writing to request copyright permission to include the National Academies of Practice Ethical Guidelines for Professional Care and Services in a Managed Health Care Environment in our Ethics Codes Collection at the Center for the Study of Ethics in the Professions (CSEP) at the Illinois Institute of Technology. 
<br><br>Begun in 1996 with support from the National Science Foundation, the Ethics Codes Collection now contains over 3,000 codes from 1,500 different organizations. In January of 2016, the Center received a generous grant from the John D. and Catherine T. MacArthur Foundation to enhance the Ethics Codes Collection. This grant will help the ECC serve as a more dynamic global resource for informing ethical decision making in professional, entrepreneurial, scientific, and technological fields, and inform critical research into the advancement of ethical practices in a rapidly changing world.
<br><br>The Ethics Codes Collection is currently available at <a href="http://ethics.iit.edu/ecodes/">http://ethics.iit.edu/ecodes/</a>
<br><br>As we update and expand the collection, we seek permission from organizations for recent and historical versions of their codes of ethics. Including all editions of codes that are available is especially useful so that the development of codes over time may be studied. We will link to your organization’s homepage so users may learn more about your organization, and invite you to submit more information about your organization that we will include on our site. Of course, copyright by your organization is always retained. 
<br><br>We hope that you will allow us to include your code in our online collection so that interested persons all over the world can learn more about your organization and its ethical standards.
<p>Please complete the brief form available at <a href="http://ethics.iit.edu/codes/permission%20letter.pdf">http://ethics.iit.edu/codes/permission%20letter.pdf</a>, and send it along with a copy of any codes of ethics or other information you would like to include in the Ethics Codes Collection to my attention at <a href="mailto:cseplibrary@iit.edu"> cseplibrary@iit.edu</a>.</p>
<p>We look forward to hearing from you.</p>
<p>Sincerely,</p>
<p>Kelly Laas
<br>Librarian 
<br>Center for the Study of Ethics in the Professions (CSEP)
<br>Illinois Institute of Technology
<br>H.U.B. Mezzanine, Rm. 205
<br>3241 S. Federal Street
<br>Chicago, IL 60616
<br><a href="mailto:laas@iit.edu">laas@iit.edu</a>
<br><a href="http://ethics.iit.edu/">http://ethics.iit.edu/</a></p>
</div>
<h4>Using the Codes</h4>
<p>If you are interested in reprinting any of the codes in our collection, please contact the authoring organization or their website to verify if a more recent or updated code of ethics is available. CSEP does not hold copyright on any of the codes of ethics in our collection. Any permission to use the codes must be sought from the individual organizations directly. However, if you run into problems finding the correct person to contact, please <a href="http://ethics.iit.edu/ecodes/contact">let us know</a>.</p>

    </div><!--end container-->
  <!-- Footer --
    <footer class="page-footer">
      <div class="row">

      <!--<h5>RESOURCES</h5>--
     <div class="col s6"> <ul class="collection with-header">
        <li class="collection-header"><h5>Resources</h5></li>
        <li><a class="collection-item" href="http://ethics.iit.edu/ecodes/node/5621">Print Guide</a></li>
        <li><a class="collection-item" href="http://ethics.iit.edu/ecodes/node/5421">Collection Policy</a></li>
        <li><a class="collection-item" href="http://ethics.iit.edu/ecodes/bibliography">Bibliography</a></li>
        <li><a class="collection-item" href="http://ethics.iit.edu/ecodes/introduction">Why Codes?</a></li>
      </ul></div>

      <!--<h5>ETHICS @ IIT</h5>--
      <div class="col s6"><ul class="collection with-header">
        <li class="collection-header"><h5>Ethics @ IIT</h5></li>
        <li><a class="collection-item" href="http://ethics.iit.edu/ecodes/about">About</a></li>
        <li><a class="collection-item" href="http://ethics.iit.edu/ecodes/authoring-code">Authoring a Code</a></li>
        <li><a class="collection-item" href="http://ethics.iit.edu/">CSEP</a></li>
        <li><a class="collection-item" href="http://ethicscodescollection.blogspot.com/">News/Updates</a></li>
      </ul></div>
      </div>

      <h5>SUBSCRIBE TO THE CSEP</h5>  
      <form>
        <input type="text" id="emailbar" value="" placeholder="Email Address">
        <button class="btn waves-effect waves-light" type="submit" name="action">SUBSCRIBE
          <i class="material-icons right">send</i>
        </button>
      </form>
      <div class="footer-copyright">
      <div class="container">
      3241 S Federal Street, Room 204 | Chicago, IL 60616 
      <a class="right" href="mailto:csep@iit.edu">Tel 312.567.3017 | csep@iit.edu</a>
      </p>
    </footer> -->
    </body>
</html>   
