  <div class="container">
    <!-- Main Banner -->
    <!-- commented out to match other static pages -->
    <!-- <div class="banner">
      <h2>THE ECC</h2>
      <p>THE WORLD'S LARGEST DATABASE OF ETHICS CODES</p>
    </div> -->
    <form action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <p>
        <input type="text" class="searchbar" name="q" id="q" value="" placeholder="Search the Ethics Codes Collection…" />
        <input class='white-text red accent-4 btn' type="submit" value="Search" data-disable-with="Search" />
      </p>
    </form>

    <!--start page content-->
    <h2>Contact</h2>
    <p><b>Postal Address:</b> Hermann Hall, Rm. 205 3241 S Federal Street Chicago, IL 60616 Phone: 312.567.3017 | Fax: 312.567.3016
      If you have any questions or comments about the Codes of Ethics Collection, or would like to suggest a new code that
      we should add to the site, please let us know using the form below.</p>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="Name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s12">
            <input id="Your e-mail address" type="text" class="validate">
            <label for="Your e-mail address">Your e-mail address</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Subject</label>
          </div>
        </div>
      </form>
    </div>

    <div class="input-field col s12">
      <select>
      <option value="1">Website Feedback</option>
      <option value="2">Suggest a Resource</option>
      <option value="3">Other</option>
    </select>
      <label>Category</label>
    </div>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
            <label for="icon_prefix2">Message</label>
          </div>
        </div>
      </form>
    </div>
    <a class='white-text red accent-4 btn'>Send Message</a>
    <br><br>




  </div>
