  <div class="container">
    <!-- Main Banner -->
    <!-- commented out to match other static pages -->
    <!-- <div class="banner">
      <h2>THE ECC</h2>
      <p>THE WORLD'S LARGEST DATABASE OF ETHICS CODES</p>
    </div> -->
    <h3>The Ethics Codes Collection</h3>
    <form action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <input type="text" class="searchbar" name="q" id="q" value="" placeholder="Search the Ethics Codes Collection…" />
      <input class='white-text red accent-4 btn' type="submit" value="Search" data-disable-with="Search" />
    </form>

    <!--start page content-->
    <h4>Contact</h4>

    <div class="row">
    <div class="col s6">
      <p><strong>Postal Address:</strong><br>
      205 Hermann Hall<br>
      3241 S. Federal Street<br>
      Chicago, IL 60616</p>
      <p>Phone: 312.567.3017<br>
      Fax: 312.567.3016</p>
      <p>If you have any questions or comments about the Ethics Codes Collection, or would like to suggest a new code that
      we should add to the site, please let us know using the form below.</p>
    </div>
    <div class="col s6">
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5945.315448213327!2d-87.6327641!3d41.8356679!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c72aacc67f3%3A0x9c9d28bca29aa727!2sHermann+Hall%2C+3241+S+Federal+St%2C+Chicago%2C+IL+60616!5e0!3m2!1sen!2sus!4v1497724755356" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>

    <p>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="Name" type="text" class="validate">
            <label for="first_name">First Name</label>
          </div>
          <div class="input-field col s12">
            <input id="Your e-mail address" type="text" class="validate">
            <label for="Your e-mail address">Your e-mail address</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate">
            <label for="password">Subject</label>
          </div>
        </div>
      </form>
    </div>

    <div class="input-field col s12">
      <select>
      <option value="1">Website Feedback</option>
      <option value="2">Suggest a Resource</option>
      <option value="3">Other</option>
    </select>
      <label>Category</label>
    </div>
    <div class="row">
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <i class="material-icons prefix">mode_edit</i>
            <textarea id="icon_prefix2" class="materialize-textarea"></textarea>
            <label for="icon_prefix2">Message</label>
          </div>
        </div>
      </form>
    </div>
    <a class='white-text red accent-4 btn'>Send Message</a>
    <br><br>




  </div>

