  <div class="container">

  <p>
    <h3>The Ethics Codes Collection</h3>
  </p>

    <form action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <p>
        <input type="text" class="searchbar" name="q" id="q" value="" placeholder="Search the Ethics Codes Collection…" />
        <input class='white-text red accent-4 btn' type="submit" value="Search" data-disable-with="Search" />
      </p>
    </form>

    <!--start page content-->

    <h5>Engage With Ethics Codes</h5>

  </div>
