  <div class="container">

    <h3>The Ethics Codes Collection</h3>

    <form action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <p>
        <input type="text" class="searchbar" name="q" id="q" value="" placeholder="Search the Ethics Codes Collection…" />
        <input class='white-text red accent-4 btn' type="submit" value="Search" data-disable-with="Search" />
      </p>
    </form>

    <!--start page content-->

    <h4>Engage With Ethics Codes</h4>

      <p>
       There are a number of ways to become an engaged member in the Ethics Codes
       Collection:
      </p>

    <strong>Organizations</strong>

      <p>
        Organizations are invited to submit a profile to our Organizations
        Directory, where you can share more information with users of the ECC about
        your mission, ethical practices and guidelines, and educational material.
      </p>

    <strong>Individuals </strong>

      <p>
        Individuals are invited to let us know about new codes we should include in
        the ECC, comments as to how we can improve the collection, or if with
        questions about codes and guidelines in our collection.
      </p>

    <strong>Scholars </strong>

      <p>
        We also invite practitioners, students and scholars to share their research
        with us, especially if you found our collection of use! Please feel free to
        submit an article to include in our extensive bibliography, or let us know
        if you would like us to feature your project, workshop or conference on the
        ECC Blog or social media pages.
      </p>

    <strong>Educators</strong>

      <p>
        Do you use ethics codes or guidelines as teaching tools in workshops or
        courses? Please <a href="/contact">contact us</a> if you would like to share your educational
        resources with a larger community through our site, or are looking for new
        approaches. We will try and get back to you in the next 2-4 working days. Thank you for
        your patience.
      </p>


  </div>
