<!DOCTYPE html>
<html lang="en">

<body>

  <div class="container">

    <!-- Main Banner -->
    <div class="banner">
      <h1>THE ECC</h1>
      <p>THE WORLD'S LARGEST DATABASE OF ETHICS CODES</p>
    </div>

    <form action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <p>
        <input type="text" class="searchbar" name="q" id="q" value="" />
        <input class='white-text red accent-4 btn' type="submit" value="Search" data-disable-with="Search" />
      </p>
    </form>

    <!--start page content-->
    <h1>Search the Ethics Code Collection</h1>
    <p>The Ethics Codes Collection (ECC) is the largest database of codes of ethics and guidelines in the world. It contains
      over 2,500 individual codes from around 1,500 different organizations, and collects both current and historical versions
      of these documents. The ECC seeks to provide practitioners, students, scholars and the public access to codes of ethics
      and guidelines and in this way inform ethical decision making in professional, entrepreneurial, scientific, and technological
      fields.
    </p>
    <p>In January of 2016, the Center received a generous grant from the <a href="https://www.macfound.org/">John D. and Catherine T. MacArthur Foundation</a>      to <a href="http://cseplibrary.blogspot.com/2016/01/illinois-techs-center-for-study-of.html">enhance the Ethics Codes Collection</a>.
      Funding from the MacArthur Foundation will provide the resources to embark on an extensive design strategy to improve
      the digital ECC, and will include tools such as better keyword search, sorting capabilities, comparisons, and downloading
      in different formats. Funding will also enable new research on the current and future roles of ethics codes within
      society, business, and technological innovation. This grant will help the ECC serve as a more dynamic global resource
      for informing ethical decision making, and inform critical research into the advancement of ethical practices in a
      rapidly changing world. Results from this grant will begin appearing in the collection in the next few months.</p>
    <p>A <a href="http://ethics.iit.edu/ecodes/bibliography">literature review</a>, an <a href="http://ethics.iit.edu/ecodes/introduction">introduction to the codes</a>,
      an <a href="http://ethics.iit.edu/ecodes/codefunctions">introduction to the function of codes</a> and a <a href="http://ethics.iit.edu/ecodes/using-codes-ethics">user's guide</a>      are included. Please also see an informative essay written by Andrew Olsen, a former intern of the Center, looking
      at the purpose of codes of ethics and how to write a code of ethics for your own organization. This essay has been
      used by many instructors over the years as an introduction to professional codes of ethics.</p>
    <p>Please browse the collection by professional category on the right, or do a keyword search in the search box at the top
      right of the page.</p>
    <p>You can also search the collection by subject term, organization, or year.</p>
    <p>Thanks to our sponsor the <a href="https://www.macfound.org/">John D. and Catherine T. MacArthur Foundation</a>, and
      the many individuals who have contributed to this resource.</p>

  </div>


</body>

</html>