<!DOCTYPE html>
<html lang="en">
    <div class ="container">  
      <!-- Main Banner -->
      <div class="banner">
        <h1>THE ECC</h1>
        <p>THE WORLD'S LARGEST DATABASE OF ETHICS CODES</p>
      </div>
      <form action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
        <p>
          <label for="_search_Search for">Search for</label>
          <input type="text" name="q" id="q" />
          <input type="text" name="contributor" id="contributor">
          <input type="submit" value="Go" data-disable-with="Go" />
        </p>
      </form>
      
     <!--start page content-->
<h1>Search the Ethics Code Collection</h1>
<p>The Ethics Codes Collection (ECC) is the largest database of codes of ethics and guidelines in the world. It contains over 2,500 individual codes from around 1,500 different organizations, and collects both current and historical versions of these documents. The ECC seeks to provide practitioners, students, scholars and the public access to codes of ethics and guidelines and in this way inform ethical decision making in professional, entrepreneurial, scientific, and technological fields.</p>
<p>In January of 2016, the Center received a generous grant from the <a href="https://www.macfound.org/">John D. and Catherine T. MacArthur Foundation</a> to <a href="http://cseplibrary.blogspot.com/2016/01/illinois-techs-center-for-study-of.html">enhance the Ethics Codes Collection</a>. Funding from the MacArthur Foundation will provide the resources to embark on an extensive design strategy to improve the digital ECC, and will include tools such as better keyword search, sorting capabilities, comparisons, and downloading in different formats. Funding will also enable new research on the current and future roles of ethics codes within society, business, and technological innovation. This grant will help the ECC serve as a more dynamic global resource for informing ethical decision making, and inform critical research into the advancement of ethical practices in a rapidly changing world. Results from this grant will begin appearing in the collection in the next few months.</p>
<p>A <a href="http://ethics.iit.edu/ecodes/bibliography">literature review</a>, an <a href="http://ethics.iit.edu/ecodes/introduction">introduction to the codes</a>, an <a href="http://ethics.iit.edu/ecodes/codefunctions">introduction to the function of codes</a> and a <a href="http://ethics.iit.edu/ecodes/using-codes-ethics">user's guide</a> are included. Please also see an informative essay written by Andrew Olsen, a former intern of the Center, looking at the purpose of codes of ethics and how to write a code of ethics for your own organization. This essay has been used by many instructors over the years as an introduction to professional codes of ethics.</p>
<p>Please browse the collection by professional category on the right, or do a keyword search in the search box at the top right of the page.</p>
<p>You can also search the collection by subject term, organization, or year.</p>
<p>Thanks to our sponsor the <a href="https://www.macfound.org/">John D. and Catherine T. MacArthur Foundation</a>, and the many individuals who have contributed to this resource.</p>



    </div><!--end container-->
  <!-- Footer --
    <footer class="page-footer">
      <div class="row">

      <!--<h5>RESOURCES</h5>--
     <div class="col s6"> <ul class="collection with-header">
        <li class="collection-header"><h5>Resources</h5></li>
        <li><a class="collection-item" href="http://ethics.iit.edu/ecodes/node/5621">Print Guide</a></li>
        <li><a class="collection-item" href="http://ethics.iit.edu/ecodes/node/5421">Collection Policy</a></li>
        <li><a class="collection-item" href="http://ethics.iit.edu/ecodes/bibliography">Bibliography</a></li>
        <li><a class="collection-item" href="http://ethics.iit.edu/ecodes/introduction">Why Codes?</a></li>
      </ul></div>

      <!--<h5>ETHICS @ IIT</h5>--
      <div class="col s6"><ul class="collection with-header">
        <li class="collection-header"><h5>Ethics @ IIT</h5></li>
        <li><a class="collection-item" href="http://ethics.iit.edu/ecodes/about">About</a></li>
        <li><a class="collection-item" href="http://ethics.iit.edu/ecodes/authoring-code">Authoring a Code</a></li>
        <li><a class="collection-item" href="http://ethics.iit.edu/">CSEP</a></li>
        <li><a class="collection-item" href="http://ethicscodescollection.blogspot.com/">News/Updates</a></li>
      </ul></div>
      </div>

      <h5>SUBSCRIBE TO THE CSEP</h5>  
      <form>
        <input type="text" id="emailbar" value="" placeholder="Email Address">
        <button class="btn waves-effect waves-light" type="submit" name="action">SUBSCRIBE
          <i class="material-icons right">send</i>
        </button>
      </form>
      <div class="footer-copyright">
      <div class="container">
      3241 S Federal Street, Room 204 | Chicago, IL 60616 
      <a class="right" href="mailto:csep@iit.edu">Tel 312.567.3017 | csep@iit.edu</a>
      </p>
    </footer> -->
    </body>
</html>   
