  <div class="container">

  <p>
    <h3>The Ethics Codes Collection</h3>
  </p>

    <form action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <p>
        <input type="text" class="searchbar" name="q" id="q" value="" placeholder="Search the Ethics Codes Collection…" />
        <input class='white-text red accent-4 btn' type="submit" value="Search" data-disable-with="Search" />
      </p>
    </form>

    <!--start page content-->

    <h4>Learning About Ethics Codes</h4>

      <p>
        Devin O'Rourke cseplibrary@iit.edu
      </p>
      <p>
        Ethics codes can be distinguished according to two principle categories:
        the group enacting the code, and the functions of the code within that
        group.
      </p>

      <section>
        <p>
          <h5>Groups</h5>
        </p>
        <p>
          <strong>Professional:</strong> applying only to members of a certain profession
        </p>
        <p>
          <strong>Organizational:</strong> applying only to members or a certain class of members of the association formally enacting code
        </p>
        <p>
          <strong>Practice-specific:</strong> applying to anyone involved in a certain voluntary practice
        </p>
        <p>
        Groups defined in Davis, Michael, “Codes of Ethics,” <em>The International Encyclopedia of Ethics</em>, ed. Hugh LaFollette, 2013.
        </p>
      </section>

      <p>
          <h5>Functions of Codes of Ethics</h5>
      </p>
      <p>
          <strong>Inspiration and Guidance</strong>
      </p>
      <p>
          Codes provide a positive stimulus for ethical conduct and helpful guidance
          and advice concerning the main obligations of the members of the group to
          which it applies. Generally, a code will begin with broad commitments. The
          remaining functions of the code contribute to the development and
          interpretation of these commitments. See, for example, the
          <a href="http://www.ama-assn.org/ama/pub/physician-resources/medical-ethics/code-medical-ethics.page">American Medical Association’s Code of Medical Ethics</a>.
          The Code is structured in a way that foregrounds the more general ideals
          and commitments, which are outlined in the “Principles of Medical Ethics”
          section. Each of the following Chapters, meanwhile, provides in-depth
          guidance on topics morally relevant to medical ethics. More specific
          directions may be given in supplementary statements or guidelines, such as
          one finds in the
          <a href="http://ethics.iit.edu/codes/AMA%201968.pdf">Ethical Guidelines for Organ Transplantation</a>.
          These supplementary guidelines aid in the application and interpretation
          of codes in certain circumstances.
      </p>
      <p>
          <strong>Support</strong>
      </p>
      <p>
          Codes give positive support to those seeking to act ethically. A publicly
          proclaimed code allows a person who is under pressure to act unethically to
          say: “I am bound by the code of ethics of my profession, which states
          that…” This provides a level of group cooperation in taking stands on moral
          issues. Moreover, codes can potentially serve as legal support in courts of
          law for those seeking to meet work-related moral obligations.
          <a href="http://www.onlineethics.org/Resources/32828/HazardousBER.aspx">Click here</a>
          to read a case study that involves a conflict between what a supervisor
          asks of a professional and what her profession requires.
      </p>
      <p>
          <strong>Deterrence and Discipline</strong>
      </p>
      <p>
          Codes can serve as the formal basis for investigating unethical conduct.
          Where such investigation is possible, prudence becomes a motive for acting
          ethically. Occasionally, violations of ethics codes are grounds for the
          revocation of the ability to practice professionally, such as one finds
          with the role of the
          <a href="http://www.americanbar.org/groups/professional_responsibility/publications/model_rules_of_professional_conduct/model_rules_of_professional_conduct_table_of_contents.html">American Bar Association’s Model Rules of Professional Conduct</a>
          in disbarment procedures.
      </p>
      <p>
          <strong>Education and Mutual Understanding</strong>
      </p>
      <p>
          Codes can be used in the classroom and elsewhere to prompt discussion and
          reflection on moral issues and to encourage a shared understanding among
          professionals, the public, and government organizations concerning the
          special moral responsibilities of individuals in professions,
          organizations, and/or a specific practice. For example, see the
          <a href="https://www.nspe.org/resources/ethics/code-ethics">National Society of Professional Engineers Code of Ethics</a>,
          which encourages a form of “sustainable development” that meets human
          needs while conserving and protecting environmental quality. For an example
          of how ethics codes be revised or manipulated in order to permit certain
          activities, see the
          <a href="http://www.nytimes.com/2015/07/11/us/psychologists-shielded-us-torture-program-report-finds.html?_r=0"><em>New York Times </em>summary of the 2015 Hoffman Report</a>.
          The Report documents the American Psychological Association’s collusion
          with the United States Department of Defense and Central Intelligence
          Agency, which enabled psychologists’ participation in “enhanced
          interrogation” techniques during the George W. Bush administration.
      </p>
      <p>
          <strong>Contributions to Public Image</strong>
      </p>
      <p>
          Codes can present a positive image to the public of an ethically guided
          profession, organization, or practice. Where the image is warranted, it can
          help members more effectively serve the public. It can also win greater
          powers of self-regulation for the group itself, while lessening the demand
          for more government regulation. The reputation of a profession,
          organization, or practice, like the reputation of an individual or a
          corporation, is essential in sustaining the trust of the public.
      </p>
      <p>
          <strong>Shared Standards</strong>
      </p>
      <p>
          The diversity of moral viewpoints among individual practitioners makes it
          essential that a profession, organization, or practice establish explicit
          standards, in a particular minimum standard beyond what law, market,
          morality, and public opinion would otherwise require. In this way, the
          public is assured of a good conduct and professionals, organizations, and
          other practitioners are provided a fair playing field in which to compete.
      </p>
      <p>
      Functions defined in Martin, Mike W. and Schinzinger, Roland,    <em>Ethics in Engineering</em>, 2<sup>nd</sup> edition, New York: McGraw
          Hill, 1989. Some of the language has been adjusted in order to make the
          categories more applicable to ethics codes in general and not simply ethics
          codes in engineering. Also, several of the categories have been
      supplemented by changes in the 4<sup>th</sup> edition of    <em>Ethics in Engineering</em>.
      </p>
      <p>
          <h5>Incorporating rubric into Ethics Code Collection website</h5>
      </p>
      <p>
      </p>
      <p>
          <a name="_gjdgxs"></a>
          First, these definitions and categories will be included in an “About”
          portion of the website, along with a generalized definition of ethics
          codes. Second, the various organizations that have published codes will be
          identified as either “Professional,” “Organizational,” or
          “Practice-specific” in the Codes Library. Third, the “About” section will
          have a couple of sample ethics codes, with individual sections highlighted
          that indicate their primary function according to the “Functions”
          categories defined above. It should be stressed that the “About” section is
          meant to serve an educational purpose, and that the codes represented in
          the section are merely intended to illustrate the manner in which codes can
          serve different combinations of functions.
      </p>
      <p>
          <strong><u> </u></strong>
      </p>
      <p>
          <strong><u> </u></strong>
      </p>
      <p>
          <strong><u>Ethics Codes Examples</u></strong>
      </p>
      <p>
          <strong><u> </u></strong>
      </p>
      <p>
          <em>
              American Association of University Professors, Statement on
              Professional Ethics, 1987
          </em>
      </p>
      <p>
          <em> </em>
      </p>
      <p>
          <strong>Introduction</strong>
      </p>
      <p>
          From its inception, the American Association of University Professors has
          recognized that membership in the academic profession carries with it
          special responsibilities. The Association has consistently affirmed these
          responsibilities in major policy statements, providing guidance to
          professors in such matters as their utterances as citizens, the exercise of
          their responsibilities to students and colleagues, and their conduct when
          resigning from an institution or when undertaking sponsored research. The
          Statement on Professional Ethics that follows sets forth those general
          standards that serve as a reminder of the variety of responsibilities
          assumed by all members of the profession.
      </p>
      <p>
          In the enforcement of ethical standards, the academic profession differs
          from those of law and medicine, whose associations act to ensure the
          integrity of members engaged in private practice. In the academic
          profession the individual institution of higher learning provides this
          assurance and so should normally handle questions concerning propriety of
          conduct within its own framework by reference to a faculty group. The
          Association supports such local action and stands ready, through the
          general secretary and Committee B, to counsel with members of the academic
          community concerning questions of professional ethics and to inquire into
          complaints when local consideration is impossible or inappropriate. If the
          alleged offense is deemed sufficiently serious to raise the possibility of
          adverse action, the procedures should be in accordance with the 1940
          Statement of Principles on Academic Freedom and Tenure, the 1958 Statement
          on Procedural Standards in Faculty Dismissal Proceedings, or the applicable
          provisions of the Association's Recommended Institutional Regulations on
          Academic Freedom and Tenure.
      </p>
      <p>
          <strong>The Statement</strong>
      </p>
      <p>
          I. Professors, guided by a deep conviction of the worth and dignity of the
          advancement of knowledge, recognize the special responsibilities placed
          upon them. Their primary responsibility to their subject is to seek and to
          state the truth as they see it. To this end professors devote their
          energies to developing and improving their scholarly competence. They
          accept the obligation to exercise critical self-discipline and judgment in
          using, extending, and transmitting knowledge. They practice intellectual
          honesty. Although professors may follow subsidiary interests, these
          interests must never seriously hamper or compromise their freedom of
          inquiry.
      </p>
      <p>
          II. As teachers, professors encourage the free pursuit of learning in their
          students. They hold before them the best scholarly and ethical standards of
          their discipline. Professors demonstrate respect for students as
          individuals and adhere to their proper roles as intellectual guides and
          counselors. Professors make every reasonable effort to foster honest
          academic conduct and to ensure that their evaluations of students reflect
          each student's true merit. They respect the confidential nature of the
          relationship between professor and student. They avoid any exploitation,
          harassment, or discriminatory treatment of students. They acknowledge
          significant academic or scholarly assistance from them. They protect their
          academic freedom.
      </p>
      <p>
          III. As colleagues, professors have obligations that derive from common
          membership in the community of scholars. Professors do not discriminate
          against or harass colleagues. They respect and defend the free inquiry of
          associates. In the exchange of criticism and ideas professors show due
          respect for the opinions of others. Professors acknowledge academic debt
          and strive to be objective in their professional judgment of colleagues.
          Professors accept their share of faculty responsibilities for the
          governance of their institution.
      </p>
      <p>
          IV. As members of an academic institution, professors seek above all to be
          effective teachers and scholars. Although professors observe the stated
          regulations of the institution, provided the regulations do not contravene
          academic freedom, they maintain their right to criticize and seek revision.
          Professors give due regard to their paramount responsibilities within their
          institution in determining the amount and character of work done outside
          it. When considering the interruption or termination of their service,
          professors recognize the effect of their decision upon the program of the
          institution and give due notice of their intentions.
      </p>
      <p>
          V. As members of their community, professors have the rights and
          obligations of other citizens. Professors measure the urgency of these
          obligations in the light of their responsibilities to their subject, to
          their students, to their profession, and to their institution. When they
          speak or act as private persons they avoid creating the impression of
          speaking or acting for their college or university. As citizens engaged in
          a profession that depends upon freedom for its health and integrity,
          professors have a particular obligation to promote conditions of free
          inquiry and to further public understanding of academic freedom.
      </p>


  </div>



