<div class="container">

  <!--start page content-->

  <h4>Learning About Ethics Codes</h4>
    <p>
      By Devin O'Rourke
    </p>
    <p>
      Ethics codes can be distinguished according to two principle categories:
      the group enacting the code, and the functions of the code within that
      group.
    </p>

    <section>
      <h5>Groups<sup><a href="#fn1" id="ref1">1</a></sup></h5>
       <ul>
        <li><strong>Professional:</strong> applying only to members of a certain profession</li>
        <li><strong>Organizational:</strong> applying only to members or a certain class of members of the association formally enacting code</li>
        <li><strong>Practice-specific:</strong> applying to anyone involved in a certain voluntary practice</li>
       </ul>
    </section>

    <section>
      <h5>Functions of Codes of Ethics<sup><a href="#fn2" id="ref2">2</a></sup></h5>
        <strong>Inspiration and Guidance</strong>
          <p>
            Codes provide a positive stimulus for ethical conduct and helpful guidance
            and advice concerning the main obligations of the members of the group to
            which it applies. Generally, a code will begin with broad commitments. The
            remaining functions of the code contribute to the development and
            interpretation of these commitments. See, for example, the
            <a href="http://www.ama-assn.org/ama/pub/physician-resources/medical-ethics/code-medical-ethics.page">American Medical Association’s Code of Medical Ethics</a>.
            The Code is structured in a way that foregrounds the more general ideals
            and commitments, which are outlined in the “Principles of Medical Ethics”
            section. Each of the following Chapters, meanwhile, provides in-depth
            guidance on topics morally relevant to medical ethics. More specific
            directions may be given in supplementary statements or guidelines, such as
            one finds in the
            <a href="http://ethics.iit.edu/codes/AMA%201968.pdf">Ethical Guidelines for Organ Transplantation</a>.
            These supplementary guidelines aid in the application and interpretation
            of codes in certain circumstances.
          </p>
        <strong>Support</strong>
          <p>
            Codes give positive support to those seeking to act ethically. A publicly
            proclaimed code allows a person who is under pressure to act unethically to
            say: “I am bound by the code of ethics of my profession, which states
            that…” This provides a level of group cooperation in taking stands on moral
            issues. Moreover, codes can potentially serve as legal support in courts of
            law for those seeking to meet work-related moral obligations.
            <a href="http://www.onlineethics.org/Resources/32828/HazardousBER.aspx">Click here</a>
            to read a case study that involves a conflict between what a supervisor
            asks of a professional and what her profession requires.
          </p>
        <strong>Deterrence and Discipline</strong>
          <p>
            Codes can serve as the formal basis for investigating unethical conduct.
            Where such investigation is possible, prudence becomes a motive for acting
            ethically. Occasionally, violations of ethics codes are grounds for the
            revocation of the ability to practice professionally, such as one finds
            with the role of the
            <a href="http://www.americanbar.org/groups/professional_responsibility/publications/model_rules_of_professional_conduct/model_rules_of_professional_conduct_table_of_contents.html">American Bar Association’s Model Rules of Professional Conduct</a>
            in disbarment procedures.
          </p>
        <strong>Education and Mutual Understanding</strong>
          <p>
            Codes can be used in the classroom and elsewhere to prompt discussion and
            reflection on moral issues and to encourage a shared understanding among
            professionals, the public, and government organizations concerning the
            special moral responsibilities of individuals in professions,
            organizations, and/or a specific practice. For example, see the
            <a href="https://www.nspe.org/resources/ethics/code-ethics">National Society of Professional Engineers Code of Ethics</a>,
            which encourages a form of “sustainable development” that meets human
            needs while conserving and protecting environmental quality. For an example
            of how ethics codes be revised or manipulated in order to permit certain
            activities, see the
            <a href="http://www.nytimes.com/2015/07/11/us/psychologists-shielded-us-torture-program-report-finds.html?_r=0"><em>New York Times </em>summary of the 2015 Hoffman Report</a>.
            The Report documents the American Psychological Association’s collusion
            with the United States Department of Defense and Central Intelligence
            Agency, which enabled psychologists’ participation in “enhanced
            interrogation” techniques during the George W. Bush administration.
          </p>
        <strong>Contributions to Public Image</strong>
          <p>
            Codes can present a positive image to the public of an ethically guided
            profession, organization, or practice. Where the image is warranted, it can
            help members more effectively serve the public. It can also win greater
            powers of self-regulation for the group itself, while lessening the demand
            for more government regulation. The reputation of a profession,
            organization, or practice, like the reputation of an individual or a
            corporation, is essential in sustaining the trust of the public.
          </p>
        <strong>Shared Standards</strong>
          <p>
            The diversity of moral viewpoints among individual practitioners makes it
            essential that a profession, organization, or practice establish explicit
            standards, in a particular minimum standard beyond what law, market,
            morality, and public opinion would otherwise require. In this way, the
            public is assured of a good conduct and professionals, organizations, and
            other practitioners are provided a fair playing field in which to compete.
          </p>
    </section>
  <br>
    <section>
          <p>
            <sup id="fn1">1. Groups defined in <cite>Davis, Michael, “Codes of Ethics,” The International Encyclopedia of Ethics, ed. Hugh LaFollette, 2013.</cite><a href="#ref1" title="Jump back to footnote 1 in the text.">↩</a></sup>
          </p>
          <p>
            <sup id="fn2">2. Functions defined in <cite>Martin, Mike W. and Schinzinger, Roland, Ethics in Engineering, 2<sup>nd</sup> edition, New York: McGraw
            Hill, 1989.</cite> Some of the language has been adjusted in order to make the
            categories more applicable to ethics codes in general and not simply ethics
            codes in engineering. Also, several of the categories have been
            supplemented by changes in the 4<sup>th</sup> edition of <em>Ethics in Engineering.<a href="#ref2" title="Jump back to footnote 2 in the text.">↩</a></sup></em>
          </p>
    </section>
</div>



