  <div class="container">

  <p>
    <h3>The Ethics Codes Collection</h3>
  </p>

    <form action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <p>
        <input type="text" class="searchbar" name="q" id="q" value="" placeholder="Search the Ethics Codes Collection…" />
        <input class='white-text red accent-4 btn' type="submit" value="Search" data-disable-with="Search" />
      </p>
    </form>

    <!--start page content-->

    <h5>Ethics Codes Collection User Guide</h5>

<h1>
    <a name="_fvmccb28i8ga"></a>
    <strong>User's Guide To The ECC</strong>
</h1>
<p>
    (LInk to interactive video on using the collection-to be developed)
</p>
<h1>
    <a name="_2vh1bl34k6pm"></a>
The Ethics Codes Collection has four major sections,<strong>Browse</strong> the codes, <strong>Search</strong> the codes,    <strong>Learn</strong> about what codes of ethics are, and how to use them,
    and <strong>Engage</strong> with the ECC by contributing our collection,
    asking questions, or collaborating with us on our ongoing projects.
</h1>
<h1>
    <a name="_9flrdx9r3i7t"></a>
    <strong>Browse </strong>
    <strong><u></u></strong>
</h1>
<p>
    All ECC resources can be browsed by field (business, engineering) or topic
    (conflict of interest, whistleblowing. (Need to see what browsing looks
    like to fill this section.)
</p>
<p>
    <strong>Search</strong>
</p>
<p>
    Users can search the collection using a simple keyword search or our
    advanced search, which allows you to narrow down your results by field,
    topic, year, or language.
</p>
<h3>
    <a name="_ptzknb5a4qdh"></a>
    <strong>Learn</strong>
    <strong><u></u></strong>
</h3>
<p>
    The ECC is committed to helping practitioners, students, scholars and the
    public learn more about the role codes of ethics and guidelines play in
    informing ethical decision-making in professional, entrepreneurial,
    scientific and technological fields. The site includes teaching materials
    for using codes in educational settings, resources on writing a code of
    ethics, and an extensive bibliography of scholarly articles discussing
    codes of ethics in a variety of disciplines.
</p>
<p>
    <strong>Engage</strong>
</p>
<p>
    The ECC is not just a collection of codes of ethics and guidelines, it also
    seeks to engage and serve those who promote ethical practices in all areas
    of professional work. We invite you to sign up for our newsletter, submit
    new ethical codes and guidelines for our collection, and share your own
    thoughts, articles and resources with us. Organizations are invited to
    submit a profile to be included in our organizations directory, and
    individuals are welcome to email us with questions, comments, or ideas as
    to how we can better serve your needs.
</p>


  </div>
