<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ethics Code Collection</title>
    <link rel="shortcut icon" href="images/iiticon.png"/>
      <meta charset="utf-8">
      <!--Mobile specific-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
      <!--<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="ecc.css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
      <link type="text/css" rel="stylesheet" href="css/materialize.css" media="screen,projection"/>
      
    <!--Let browser know website is optimized for mobile-->
  </head>

  <body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="js/materialize.min.js"></script> 

    <div class ="container">  
      <!-- Main Banner -->
      <div class="banner">
        <h1>THE ECC</h1>
        <p>THE WORLD'S LARGEST DATABASE OF ETHICS CODES</p>
      </div>
      <form action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <p>
        <input type="text" class="searchbar" name="q" id="q" value="" />
        <input class="btn" type="submit" value="Search" data-disable-with="Search" />
      </p>
    </form>
      
     <!--start page content-->
<h1>Why Ethics Codes?</h1>
<p>Codes of ethics are controversial documents. Some writers have suggested that codes of professional ethics are pointless and unnecessary. Many others believe that codes are useful and important, but disagree about why. IIT's Center for the Study of Ethics in the Professions is committed to the importance of codes of ethics, and we have undertaken the Online Ethics Codes Project in order to enhance access to a very wide variety of codes. Why are we so committed to this project?</p>
<p>It may help the user of these documents to understand something about the debate surrounding codes of ethics. At one end of the spectrum, John Ladd has argued that codes of ethics serve no good purpose whatever. Ladd argues that ethics should be open-ended and reflective, and that relying on a code of ethics is to confuse ethics with law. He further asserts that it is mistaken to assume that there is a special ethics for professionals which is separate from the ethics of ordinary human beings within a moral society. Professionals, he suggests, have no special rights or duties separate from their rights and duties as moral persons, and therefore codes of ethics are pointless and possibly pernicious.</p>
<p>A different sort of attack on the usefulness of codes of ethics comes from Heinz Luegenbiehl. Luegenbiehl acknowledges that codes of ethics do have some sociological value. Luegenbiehl writes,</p>
<p>"The adoption of a code is significant for the professionalization of an occupational group, because it is one of the external hallmarks testifying to the claim that the group recognizes an obligation to society that transcends mere economic self-interest" (p. 138)</p>
<p>But he believes that ultimately codes of ethics create moral problems rather than helping to resolve them. Luegenbiehl notes that practicing professionals rarely turn to their codes of ethics for guidance, and that the guidelines within the codes sometimes seem internally inconsistent. He also voices a concern similar to Ladd's -- namely, that implementation of a code of ethics may be in conflict with the moral autonomy we expect of individuals.</p>
<p>In response, Harris et al. argue that all three of Luegenbiehl's criticisms can be surmounted. They suggest that though most practicing professionals do not routinely consult their codes of ethics, it does not follow that they do not know about or care about the contents of their codes. Further, the fact that codes of ethics sometimes seem internally inconsistent can be addressed by understanding codes of ethics not as recipes for decision-making, but as expressions of ethical considerations to bear in mind. We should view them as an ethical framework rather than as specific solutions to problems.</p>
<p>Finally, the authors argue that moral autonomy is not really compromised by codes of ethics.</p>
<p>"If a code's provision can be supported with good reasons, why should a profession not include an affirmation of those provisions as part of what it professes?...this does not preclude individual members from autonomously accepting those provisions and jointly committing themselves to their support." (p. 34)</p>
<p>Michael Davis makes a strong positive case for professional codes of ethics. Davis argues that codes of ethics should be understood as conventions between professionals. Davis writes,</p>
<p>The code is to protect each professional from certain pressures (for example, the pressure to cut corners to save money) by making it reasonably likely...that most other members of the profession will not take advantage of her good conduct. A code protects members of a profession from certain consequences of competition. A code is a solution to a coordination problem." (p. 154)</p>
<p>Davis goes on to suggest that having a code of ethics allows an engineer to object to pressure to produce substandard work not merely as an ordinary moral agent, but as a professional. Engineers (or doctors, or clergy, etc.) can say "As a professional, I cannot ethically put business concerns ahead of professional ethics."</p>
<p>Davis give four reasons why professionals should support their profession’s code:</p>
<p>"First…supporting it will help protect them and those they care about from being injured by what other engineers do. Second, supporting the code will also help assure each engineer a working environment in which it will be easier than it would otherwise be to resist pressure to do much that the engineers would rather not do. Third, engineers should support their profession's code because supporting it helps make their profession a practice of which they need not feel…embarrassment, shame, or guilt. And fourth, one has an obligation of fairness to do his part…in generating these benefits for all engineers." (p. 166)</p>
<p>Harris et al. summarize Stephen Unger's analysis of the possible functions of a code of ethics:</p>
<p>"First, it can serve as a collective recognition by members of a profession of its responsibilities. Second, it can help create an environment in which ethical behavior is the norm. Third, it can serve as a guide or reminder in specific situations…Fourth, the process of developing and modifying a code of ethics can be valuable for a profession. Fifth, a code can serve as an educational tool, providing a focal point for discussion in classes and professional meetings. Finally, a code can indicate to others that the profession is seriously concerned with responsible, professional conduct." (p. 35).</p>
<p>For all these reasons, IIT's CSEP decided to dedicate a part of its collective resources to making these codes of ethics available on the World-Wide Web. We hope that you find this new resource to be a valuable tool, whether you are a student, an in structor, a professional, or all three. We have also provided a Users Guide with some suggestions about how to make the best use of these codes. If you have questions or comments concerning the use of these materials, or if you develop an interesting new classroom or workshop exercise using them, please let us know.</p>
<p>CSEP gratefully acknowledges the funding from National Science Foundation that made it possible to put the codes online.</p>
<br>
<br>
<h5>Works Cited:</h5>
<p>Davis, Michael. <a href="http://ethics.iit.edu/projects/thinking-like-engineer">"Thinking like an Engineer: The Place of a Code of Ethics in the Practice of a Profession"</a>. <i>Philosophy and Public Affairs</i> 20.2 (1991): 150-167.</p>
<p>Harris, Charles E., Jr., Michael S. Pritchard and Michael J. Rabins. <u>Engineering Ethics: Concepts and Cases</u>. Belmont, CA: Wadsworth Publishing, 1995.</p>
<p>Ladd, John. "The Quest for a Code of Professional Ethics: An Intellectual and Moral Confusion". Ethical Issues in Engineering. Ed. Deborah G. Johnson. Englewood Cliffs, NJ: Prentice-Hall, 1991. 130-136.</p>
<p>Luegenbiehl, Heinz C. "Codes of Ethics and the Moral Education of Engineers", <i>Business and Professional Ethics Journal</i> 2 (1983): 41-61. Rpt. in</i> <u>Ethical Issues in Engineering</u>. Ed. Deborah G. Johnson. Englewood Cliffs, NJ: Prentice-Hall, 1991. 137-154.</p>
<p>Unger, Stephen. “Codes of Engineering Ethics”. Ethical Issues in Engineering. Ed. Deborah G. Johnson. Englewood Cliffs, Prentice-Hall, 1991. 105</p>





    </div><!--end container-->
  <!-- Footer --
    <footer class="page-footer">
      <div class="row">

      <!--<h5>RESOURCES</h5>--
     <div class="col s6"> <ul class="collection with-header">
        <li class="collection-header"><h5>Resources</h5></li>
        <li><a class="collection-item" href="http://ethics.iit.edu/ecodes/node/5621">Print Guide</a></li>
        <li><a class="collection-item" href="http://ethics.iit.edu/ecodes/node/5421">Collection Policy</a></li>
        <li><a class="collection-item" href="http://ethics.iit.edu/ecodes/bibliography">Bibliography</a></li>
        <li><a class="collection-item" href="http://ethics.iit.edu/ecodes/introduction">Why Codes?</a></li>
      </ul></div>

      <!--<h5>ETHICS @ IIT</h5>--
      <div class="col s6"><ul class="collection with-header">
        <li class="collection-header"><h5>Ethics @ IIT</h5></li>
        <li><a class="collection-item" href="http://ethics.iit.edu/ecodes/about">About</a></li>
        <li><a class="collection-item" href="http://ethics.iit.edu/ecodes/authoring-code">Authoring a Code</a></li>
        <li><a class="collection-item" href="http://ethics.iit.edu/">CSEP</a></li>
        <li><a class="collection-item" href="http://ethicscodescollection.blogspot.com/">News/Updates</a></li>
      </ul></div>
      </div>

      <h5>SUBSCRIBE TO THE CSEP</h5>  
      <form>
        <input type="text" id="emailbar" value="" placeholder="Email Address">
        <button class="btn waves-effect waves-light" type="submit" name="action">SUBSCRIBE
          <i class="material-icons right">send</i>
        </button>
      </form>
      <div class="footer-copyright">
      <div class="container">
      3241 S Federal Street, Room 204 | Chicago, IL 60616 
      <a class="right" href="mailto:csep@iit.edu">Tel 312.567.3017 | csep@iit.edu</a>
      </p>
    </footer> -->
    </body>
</html>   
