<nav>
    <div class="nav-wrapper">
        <a href="images/cseplogo.png" class="brand-logo right">Logo</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="index.html">Home</a></li>
          <li><a href="search.html">Advanced Search</a></li>
          <li><a href="collections.html">Collections</a></li>
          <li><a href="resources.html">Resources</a></li>
          <li><a href="ethicslinks.html">Ethics &#64; IIT</a></li>
        </ul>
    </div>
</nav>