<nav>
    <div class="nav-wrapper">
        <a href="images/cseplogo.png" class="brand-logo right">Logo</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
          <li><a href="home.html.erb">Home</a></li>
          <li><a href="whycodes.html.erb">Why Codes?</a></li>
          <li><a href="authoringcode.html.erb">Authoring a Code</a></li>
          <li><a href="collectionpolicy.html.erb">Collection Policy</a></li>
          <li><a href="contact.html.erb">Contact Us</a></li>
        </ul>
    </div>
</nav>