<h1>Admin Page</h1>
<%= link_to "Modify Documents", :controller => :documents %>
<br>
<%= link_to "Edit Users", :controller => :users %>
<br>
<%= link_to "Log Out", :controller => :sessions, :action=>"destroy" %>
<br>
