<div class="container">
    <div class="row">
        <h5>What do you want to do?</h5>
    </div>
    <div class="row">
        <%= link_to "Modify Documents", {:controller => :documents}, {:class => "white-text red accent-4 btn"} %>
    </div>
    <div class="row">
        <%= link_to "Edit Users", {:controller => :users}, {:class => "white-text red accent-4 btn"} %>
    </div>
</div>
