<!DOCTYPE html>
<html>
  <head>
    <title>Ethics Code Collection</title>
    <link rel="shortcut icon" href="images/iiticon.png"/>
      <meta charset="utf-8">
      <!--Mobile specific-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no"/>
      <!--<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="ecc.css">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> -->
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="/css/materialize.min.css"  media="screen"/>
      <link type="text/css" rel="stylesheet" href="/css/materialize.css" media="screen"/>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
