<!DOCTYPE html>
<html>

<head>
  <title>Ethics Code Collection</title>
  <link rel="shortcut icon" href="/images/iiticon.png" />
  <meta charset="utf-8">

  <!--Mobile specific-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

  <!--Import Google Icon Font-->
  <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet" href="/css/materialize.min.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="/css/materialize.css" media="screen,projection" />
  <link type="text/css" rel="stylesheet" href="/css/screen.css" media="screen,projection" />
  <!--Import jQuery before materialize.js-->
  <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="/js/materialize.min.js"></script>

  <script>
    $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrainWidth: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false, // Displays dropdown below the button
      alignment: 'left', // Displays dropdown with edge aligned to the left of button
      stopPropagation: false // Stops event propagation
    }
    );
  </script>
  <script>
    $(document).ready(function () {
      $('select').material_select();
      $(".dropdown-button").dropdown({
        hover: true
      });
      $(".button-collapse").sideNav();
    });
  </script>
</head>

<body>

  <%= image_tag 'Banner.png', :class => "ECC-Banner"%>
    
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="/whycodes">Why Codes?</a></li>
      <li><a href="/authoringcode">Authoring a Code</a></li>
      <li><a href="/collectionpolicy">Collection Policy</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>

    <nav>
      <div class="nav-wrapper">
        <a href="images/cseplogo.png" class="brand-logo right"></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul id="nav-mobile" class="left hide-on-small-and-down">
          <li><a href="/">Home</a></li>
          <li><a href="/browse">Codes</a></li>
          <li><a class="dropdown-button" href="#!" data-activates="dropdown1" data-beloworigin="true">About<i class="material-icons right">arrow_drop_down</i></a></li>
          <% if session[:user_id] %>
            <li><a href="/admin"> Admin </a></li>
            <li>
              <%= link_to "Log Out", :controller => :sessions, :action=>"destroy" %>
            </li>
            <% else %>
              <li><a href="/login"> Log In </a></li>
              <% end %>
        </ul>
      </div>
      <ul id="mobile-demo" class="side-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/browse">Codes</a></li>
        <li><a href="/whycodes">Why Codes?</a></li>
        <li><a href="/authoringcode">Authoring a Code</a></li>
        <li><a href="/collectionpolicy">Collection Policy</a></li>
        <li><a href="/contact">Contact Us</a></li>
        <% if session[:user_id] %>
          <li><a href="/admin"> Admin </a></li>
          <li>
            <%= link_to "Log Out", :controller => :sessions, :action=>"destroy" %>
          </li>
          <% else %>
            <li><a href="/login"> Log In </a></li>
            <% end %>
      </ul>
    </nav>

    <%= yield %>

</body>

<footer class="page-footer-custom">
  <div class="mycontainer">
    <div class="row">
      <!--<h5>RESOURCES</h5>-->
      <div class="col s12">
        <ul class="collection with-header">
          <li class="collection-header">
            <p>Resources</p>
          </li>
          <li><a class="collection-item blue-text" href="http://ethics.iit.edu/ecodes/node/5621">Print Guide</a></li>
          <li><a class="collection-item blue-text" href="/collectionpolicy">Collection Policy</a></li>
          <li><a class="collection-item blue-text" href="http://ethics.iit.edu/ecodes/bibliography">Bibliography</a></li>
          <li><a class="collection-item blue-text" href="/authoringcode">Authoring a Code</a></li>
          <li><a class="collection-item blue-text" href="http://ethicscodescollection.blogspot.com/">News/Updates</a></li>
          <li><a class="collection-item blue-text" href="/contact">Contact Us</a></li>
      </div>

      <div class="footer-copyright">
        <div class="container">
          3241 S Federal Street, Room 204 | Chicago, IL 60616
          <a class="right blue-text text-lighten-4" href="mailto:csep@iit.edu">Tel 312.567.3017 | csep@iit.edu</a>
        </div>
      </div>
    </div>
</footer>

</html>