/*.ECC-Banner {
  width: 50%;
}*/

/*footer.page-footer-custom {
  background-color: #76777b;
  padding-top: 20px;
}*/

.mycontainer {
  margin: 0 auto;
  width: 90%;
}

/*nav {
  font-family: "Futura"; "Roboto"; sans-serif;
  color: #fff;
  background-color: #cc0000;
  width: 100%;
  height: 56px;
  line-height: 56px;
}*/

/*.ecc-name {
  font-weight: bolder;
}*/

/*iit-red {
  background-color: #cc0000;
}

iit-blue {
  color: #bbdefb;
}*/
