<%#Partial is incomplete%>

<%#Partial to output all passed categories here!%>
<%# To Include <%= render(:partial => "category/category", :locals => {:category => get_categories()})%>

<p>
  <strong>Category:</strong>
  <h1> <%= category %> </h1>
</p>