<%#Search form partial file - Displays a search box wherever this file is rendered%>
<%#Can be used by adding <%= render "search/search"%>

<div>
  <form action="/search" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
        <p>
          <label for="_search_Search for">Search for</label>
          <input type="text" name="q" id="q" />
          <input type="submit" value="SEARCH" data-disable-with="SEARCH", class: 'white-text red accent-4 btn' />
        </p>
      </form>
</div>