<div class='container'>
  <h1>Editing Document</h1>
  <%= link_to 'Back', documents_path, class: 'white-text red accent-4 btn' %>
    <br><br>

    <%= render 'form', document: @document %>
      <br>
      <%= link_to 'Show', @document, class: 'white-text red accent-4 btn' %>
        <%= link_to 'Back', documents_path, class: 'white-text red accent-4 btn' %>
          <br><br>
</div>